:root {
  --main-font: 'Montserrat', sans-serif;
  --second-font: 'Roboto', sans-serif;
  --decor-color: #f38181;
  --decor-text-color: #95e1d3;

  --accent-color: #f4c32f;

  --main-text-color: #333333;
  --second-text-color: #999999;
}

$primary-font-size: 0.875rem;
